<div class="baaqmd-maps-popup">
    <div class="baaqmd-maps-popup-content">
        <h3>
            <span data-bind="text: name"></span>
        </h3>
        <h4 data-bind="text: siteType"></h4>
        <table class="air-monitoring-table" style="margin-left: 5px;" >
          <tbody>
            <!-- ko foreach: attributeList -->
            <!-- ko if: name -->
            <tr>
                <td class="air-monitoring-attribute-data-title" data-bind="text: name"></td>
                <td class="air-monitoring-attribute-data" data-bind="text: value"></td>
            </tr>
            <!-- /ko -->
            <!-- /ko -->
            <tr>
              <td class="air-monitoring-attribute-data-title" data-bind="text: 'State'"></td>
              <td class="air-monitoring-attribute-data" data-bind="text: 'CA'"></td>
            </tr>

            </tbody>
        </table>
        <br>
        <h3>About Facilities</h3>

        <p>The Air District maintains a database of regulated facilities for permitting, modeling and enforcement purposes. The map indicates the locations of individual facilities and provides information about the number of on-site sources and emissions.</p>


        <p><a target="_blank" href="http://www.baaqmd.gov/?sc_itemid=0A31D9A8-3EBD-4AAF-AE18-BFDF6DE89D91">View More Information</a></p>
        <p><a target="_blank" href="http://www.baaqmd.gov/about-air-quality/current-air-quality/air-monitoring-data/?DataView=met#/aqi?id=59&date=2019-09-16&view=hourly">Real Time Air Quality Data (AQI View)</a></p>
        <p><a target="_blank" href="http://www.baaqmd.gov/?sc_itemid=6D304B53-C019-4FE4-8E1A-9930F2F20A0C">Title V Permits</a></p>
    </div>
</div>
