<h3>
    <i class="icomoon icon-Overburdened"></i>
    Bay Area Healthy Homes
    <div class="accordion-icon icomoon" data-bind="css: {'icon-Subtract': mainExpanded, 'icon-Add2': !mainExpanded()}, click: function() { mainExpanded(!mainExpanded()); }"></div>
</h3>
<div class="accordion-panel"
    data-bind="css: {'accordion-panel-expanded': mainExpanded, 'accordion-panel-collapsed': !mainExpanded()}">
    <ul class="baaqmd-maps-legend baaqmd-maps-boundaries impacted-communities">
        <li class="bahhi-areas">
            <input type="checkbox" data-bind="checked: layers.bahhiEligibility.flag">
            <span class="legend-display">
                <i></i>
            </span>
            BAHHI Program Areas
        </li>
        <li class="bahhi-counties">
            <input type="checkbox" data-bind="checked: layers.bahhiCounties.flag">
            <span class="legend-display">
                <i></i>
            </span>
            BAHHI Program Counties
        </li>
    </ul>
    <div class="baaqmd-maps-details-links">
        <a href="javascript: void(0);" class="information-link"
            data-bind="click: function() { showInfoPanel('BAHHIEligibilityInfoPanel'); }">
            <i class="fas fa-info-circle"></i>
            More Information
        </a>
    </div>
</div>
<h3>
    <i class="icomoon icon-MixedPin"></i>
    Pin Locations
    <div class="accordion-icon icomoon icon-Subtract"
        data-bind="css: {'icon-Subtract': pinsExpanded, 'icon-Add2': !pinsExpanded()}, click: function() { pinsExpanded(!pinsExpanded()); }">
    </div>
</h3>
<div class="accordion-panel accordion-panel-expanded"
    data-bind="css: {'accordion-panel-expanded': pinsExpanded, 'accordion-panel-collapsed': !pinsExpanded()}">
        <ul class="baaqmd-maps-legend baaqmd-maps-boundaries impacted-communities">
            <li>
                <input type="checkbox" data-bind="checked: layers.eligiblePins.flag" checked="checked">
                <i class="icomoon icon-EligiblePin"></i>
                <div class="list-text">Eligible Location Pins (<span data-bind="text: eligiblePinsCount"></span>)</div>
            </li>
            <li>
                <input type="checkbox" data-bind="checked: layers.notEligiblePins.flag" checked="checked">
                <i class="icomoon icon-NotEligiblePin"></i>
                <div class="list-text">Not Eligible Location Pins (<span data-bind="text: notEligiblePinsCount"></span>)</div>
            </li>
        </ul>
    <div class="baaqmd-maps-details-links bahhi-map">
        <div class="pin-section address-pin-section">
            <div class="search-area" data-bind="geocoder: {
                map: map,
                geocoder: geocoder
            }">
            </div>
            <a href="javascript: void(0);" class="information-link small-button" data-bind="click: addPinFromAddress">
                Pin
            </a>
        </div>
        <div class="or-text">- - OR - -</div>
        <div class="pin-section">
            <a href="javascript: void(0);" class="information-link full-button" data-bind="click: function() {
                    addPinOnClick(!addPinOnClick());
                },
                css: {
                    active: addPinOnClick
                }">
                <i class="icomoon icon-AddMixedPin"></i>
                Add pin
            </a>
        </div>
        <div class="space-3pxblk"></div>
        <div class="buttons-area">
            <a href="javascript: void(0);" class="information-link" data-bind="click: function() {
                    pins([]);
                }">
                <i class="icomoon icon-Clear"></i>
                Clear Pins
            </a>
            <a href="javascript: void(0);" class="information-link" data-bind="click: function() { showInfoPanel('BAHHIPinLocationsHelpPanel'); }">
                <i class="icomoon icon-Help2"></i>
                Help
            </a>
        </div>
    </div>
</div>
<h3>
    <i class="im im-boundaries"></i>
    Boundaries
    <div class="accordion-icon icomoon"
        data-bind="css: {'icon-Subtract': boundariesExpanded, 'icon-Add2': !boundariesExpanded()}, click: function() { boundariesExpanded(!boundariesExpanded()); }">
    </div>
</h3>
<div class="accordion-panel"
    data-bind="css: {'accordion-panel-expanded': boundariesExpanded, 'accordion-panel-collapsed': !boundariesExpanded()}">
    <ul class="baaqmd-maps-legend baaqmd-maps-boundaries baaqmd-maps-lines">
        <li class="counties">
            <input type="checkbox" data-bind="checked: layers.counties.flag">
            <span class="legend-display">
                <i></i>
            </span>
            Counties
        </li>
        <li class="district-boundary">
            <input type="checkbox" data-bind="checked: layers.district.flag">
            <span class="legend-display">
                <i></i>
            </span>
            District Boundary
        </li>
    </ul>
</div>
