<h3>
    <i class="fas fa-users"></i>
    Air Quality Monitoring
</h3>
<ul class="baaqmd-maps-legend baaqmd-maps-boundaries impacted-communities">
    point layers here...
</ul>
<h3>
    <i class="fas fa-globe-americas"></i>
    Boundaries
</h3>
<ul class="baaqmd-maps-legend baaqmd-maps-boundaries">
    <li class="counties">
        <input type="checkbox" data-bind="checked: layers.counties.flag">
        <span class="legend-display">
            <i></i>
        </span>
        Counties
    </li>
    <li class="district-boundary">
        <input type="checkbox" data-bind="checked: layers.district.flag">
        <span class="legend-display">
            <i></i>
        </span>
        District Boundary
    </li>
</ul>
