@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?zgs72f');
  src:  url('icomoon.eot?zgs72f#iefix') format('embedded-opentype'),
    url('icomoon.woff2?zgs72f') format('woff2'),
    url('icomoon.ttf?zgs72f') format('truetype'),
    url('icomoon.woff?zgs72f') format('woff'),
    url('icomoon.svg?zgs72f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-SpareAirHoriz:before {
  content: "\e92a";
}
.icon-Info2:before {
  content: "\e943";
}
.icon-Monitoring:before {
  content: "\e944";
}
.icon-Impacted:before {
  content: "\e945";
}
.icon-Facilities:before {
  content: "\e946";
}
.icon-OpenBurn:before {
  content: "\e947";
}
.icon-Close:before {
  content: "\e942";
}
.icon-AdvisoryNew:before {
  content: "\e941";
}
.icon-SlideDown:before {
  content: "\e92b";
}
.icon-SlideUp:before {
  content: "\e93d";
}
.icon-Search:before {
  content: "\e929";
}
.icon-ArrowLeft:before {
  content: "\e923";
}
.icon-ArrowRight:before {
  content: "\e926";
}
.icon-ArrowUp:before {
  content: "\e927";
}
.icon-AlertOne:before {
  content: "\e93e";
}
.icon-AlertThree:before {
  content: "\e93f";
}
.icon-AlertTwo:before {
  content: "\e940";
}
.icon-Print2:before {
  content: "\e937";
}
.icon-ArrowDown3:before {
  content: "\e93a";
}
.icon-ArrowDown2:before {
  content: "\e93b";
}
.icon-MenuClose:before {
  content: "\e93c";
}
.icon-Contract:before {
  content: "\e915";
}
.icon-Expand:before {
  content: "\e932";
}
.icon-WindSpeed:before {
  content: "\e933";
}
.icon-ArrowDown:before {
  content: "\e934";
}
.icon-ZoomAll:before {
  content: "\e935";
}
.icon-Email2:before {
  content: "\e936";
}
.icon-MenuOpen:before {
  content: "\e938";
}
.icon-MapMenu:before {
  content: "\e939";
}
.icon-TriangleSlash:before {
  content: "\e92c";
}
.icon-CircleSlash:before {
  content: "\e92d";
}
.icon-SquareSlash:before {
  content: "\e92e";
}
.icon-Circle:before {
  content: "\e92f";
}
.icon-Square:before {
  content: "\e930";
}
.icon-Triangle:before {
  content: "\e931";
}
.icon-SpareFire:before {
  content: "\e928";
}
.icon-NoBurn:before {
  content: "\e925";
}
.icon-SpareAirHorizontal:before {
  content: "\e924";
}
.icon-Menu2:before {
  content: "\e922";
}
.icon-Share:before {
  content: "\e91c";
}
.icon-Forecast:before {
  content: "\e921";
}
.icon-Email:before {
  content: "\e91a";
}
.icon-AQIndex:before {
  content: "\e91e";
}
.icon-Boundaries:before {
  content: "\e91f";
}
.icon-Info:before {
  content: "\e920";
}
.icon-Twitter:before {
  content: "\e91b";
}
.icon-Facebook:before {
  content: "\e91d";
}
.icon-FullscreenB:before {
  content: "\e916";
}
.icon-AQIZones:before {
  content: "\e917";
}
.icon-DistrictBoundary:before {
  content: "\e918";
}
.icon-County:before {
  content: "\e919";
}
.icon-Add2:before {
  content: "\e900";
}
.icon-AQI:before {
  content: "\e901";
}
.icon-AreaAssign2:before {
  content: "\e902";
}
.icon-Compass:before {
  content: "\e903";
}
.icon-E:before {
  content: "\e904";
}
.icon-Fullscreen:before {
  content: "\e905";
}
.icon-Help2:before {
  content: "\e906";
}
.icon-Location:before {
  content: "\e907";
}
.icon-Location2:before {
  content: "\e908";
}
.icon-Map:before {
  content: "\e909";
}
.icon-Meteorology:before {
  content: "\e90a";
}
.icon-N:before {
  content: "\e90b";
}
.icon-Print:before {
  content: "\e90c";
}
.icon-S:before {
  content: "\e90d";
}
.icon-SetNorth:before {
  content: "\e90e";
}
.icon-Subtract:before {
  content: "\e90f";
}
.icon-Temperature:before {
  content: "\e910";
}
.icon-W:before {
  content: "\e911";
}
.icon-Weather:before {
  content: "\e912";
}
.icon-WindDirection:before {
  content: "\e913";
}
.icon-WindGust:before {
  content: "\e914";
}
