<h3 class="modal-title">
    <i class="fas fa-info-circle"></i>
    Impacted Communities Details
</h3>
<hr>
<ul class="baaqmd-maps-legend baaqmd-maps-boundaries impacted-communities">
    <li class="cumulative-impact-areas">
        <h3>
            <i></i>
            2013 Cumulative Impact Areas
        </h3>
        <p>Areas where toxic air contaminants, fine particulate matter, and ozone are estimated to have the greatest impacts on health.</p>
    </li>
    <li class="pm25-impact-areas">
        <h3>
            <i></i>
            24 Hour P2.5 Exceedance Areas
        </h3>
        <p>Areas where 24-hour fine particulate matter (PM2.5) levels exceeded the federal standard (35 mg/ m3) during three recent winters (2010-2012).</p>
    </li>
    <li class="ozone-impact-areas">
        <h3>
            <i></i>
            8 Hour Ozone Exceedance Areas
        </h3>
        <p>Areas where 8-hour ozone levels exceeded the federal standard (75 ppb) three or more times during three recent summers (2011-2013).</p>
    </li>
</ul>
