<div class="baaqmd-maps-popup">
    <div class="baaqmd-maps-popup-content">
        <h3>
            <i class="fas fa-users"></i>
            <span data-bind="text: name"></span>
        </h3>

        <h4 data-bind="text: area"></h4>

        <p data-bind="text: description"></p>

        <h4>About Impacted Communities</h4>

        <p>The Community Air Risk Evaluation (CARE) program identifies areas with high concentrations of air pollution and populations most vulnerable to air pollution's health impacts. The maps, along with information about pollutants and their sources that lead to the impacts, help prioritize a broad array of actions designed to foster healthy communities via the Clean Air Communities Initiative.</p>

        <a target="_blank" href="http://www.baaqmd.gov/care">Community Air Risk Evaluation Program</a>
    </div>
</div>
<div class="baaqmd-maps-scroll-for-more" data-bind="css: { 'scrolled-to-bottom': scrolledToBottom }">
    <i class="fas fa-arrow-down"></i>
    Scroll for more content...
</div>
