<div class="baaqmd-maps-details-panel" data-bind="css: {'baaqmd-maps-expanded': expanded }">
    <div class="baaqmd-maps-details-panel-wrapper" data-bind="if: map">
        <div class="baaqmd-maps-details-panel-expander mapboxgl-ctrl mapboxgl-ctrl-group" data-bind="
            click: toggleExpanded,
            css: {'baaqmd-maps-expanded': expanded}">
            <i class="fas fa-bars"></i>
        </div>
        <div class="baaqmd-maps-details-panel-expander mapboxgl-ctrl mapboxgl-ctrl-group baaqmd-maps-share-buttons" data-bind="
            css: {
                'baaqmd-maps-expanded': expanded
            }">
            <div><i class="im im-share"></i></div>
            <a target="_blank" data-bind="attr: {
                'href': 'https://www.facebook.com/sharer/sharer.php?u=' + mainMapPage
            }">
                <div><i class="im im-facebook"></i></div>
            </a>
            <a target="_blank" data-bind="attr: {
                'href': 'https://twitter.com/intent/tweet?url=' + mainMapPage
            }">
                <div><i class="im im-twitter"></i></div>
            </a>
            <a data-bind="attr: {
                'href': 'mailto:?body=' + mainMapPage
            }">
                <div><i class="im im-email"></i></div>
            </a>
        </div>
        <div class="baaqmd-maps-type-selector">
            <!-- ko if: enableMapTypeSelector -->
            <select data-bind="
                optionsText: 'text',
                optionsValue: 'id',
                options: mapTypes,
                value: mapType,
                choices: {
                    searchEnabled: false
                }
            "></select>
            <!-- /ko -->
            <!-- ko ifnot: enableMapTypeSelector -->
            <div class="choices no-select">
                <div class="choices__inner">
                    <div class="choices__list choices__list--single">
                        <div class="choices__item choices__item--selectable" data-bind="text: mapTypesObj[mapType()].label"></div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
        <div class="baaqmd-maps-type-selector">
        </div>
         <div class="baaqmd-maps-details-panel-content" data-bind="component: {
             name: mapType,
             params: $data
         }"></div>
    </div>
</div>
