<h3 class="modal-title">
    <i class="fas fa-info-circle"></i>
    Open Burn Status
</h3>
<hr>
<ul class="baaqmd-maps-legend aqi-forecast-legend">
    <li class="yes">
        <h3>Allowed</h3>
        <p>Open burning is allowed for certain types of fires if it is within their permissible burn season.</p>
    </li>
    <li class="nobelow2k">
        <h3>Prohibited &lt; 2k</h3>
        <p>No open burning is allowed below 2,000 feet of elevation. Above 2,000 feet of elevation, open burning is allowed for certain types of fires if it is within their permissible burn season.</p>
    </li>
    <li class="no">
        <h3>Prohibited</h3>
        <p>No open burning is allowed.</p>
    </li>
</ul>
