<div class="baaqmd-maps-popup">
    <div class="baaqmd-maps-popup-content">
        <h3>
            <span data-bind="text: name"></span>
        </h3>
        <div class="baaqmd-maps-last-updated">
            Last Updated:
            <span data-bind="text: new Intl.DateTimeFormat('en-US', { weekday: 'long'}).format(lastUpdated)"></span>,
            <span data-bind="text: lastUpdated.toLocaleDateString()"></span>
            at
            <span data-bind="text: lastUpdated.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})"></span>
        </div>

        <table class="baaqmd-maps-zone-forecast">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th class="baaqmd-maps-no-link">Status</th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: openBurnData -->
                <tr>
                    <th data-bind="css: {
                        active: $index() === $parent.day()
                    }" class="baaqmd-maps-zone-forecast-date">
                        <a href="#" data-bind="click: function() {
                            $parent.day($index());
                        }, text: date.toLocaleDateString('en-US',{day: '2-digit', month: '2-digit'})"></a>
                    </th>
                    <td>
                        <span class="baaqmd-maps-zone-forecast-zone-item" data-bind="
                            text: statusLabel,
                            css: status
                            "></span>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
        <br>
        <h3>About Open Burning</h3>

        <div data-bind="html: openBurnStatusInfo"></div>
    </div>
</div>
