@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700");

@font-face{
    font-family:'proxima_nova_rgregular';
    src:url('fonts/proxima/proximanova-regular-webfont.eot');
    src:url('fonts/proxima/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima/proximanova-regular-webfont.woff2') format('woff2'),
    url('fonts/proxima/proximanova-regular-webfont.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?askvjh');
    src:  url('fonts/icomoon.eot?askvjh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?askvjh') format('woff2'),
    url('fonts/icomoon.ttf?askvjh') format('truetype'),
    url('fonts/icomoon.woff?askvjh') format('woff'),
    url('fonts/icomoon.svg?askvjh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

$side-panel-width: 335px;

$light-color: rgb(239,246,247);
$mid-color: rgb(0,142,184);
$dark-color: rgb(0,76,131);

$primary-color: rgb(0,142,184);
$secondary-color: #ee8301;

$good-color: #096;
$moderate-color: #ffde33;
$unhealthy-for-sensitive-groups-color: #ff9933;
$unhealthy-color: #cc0033;
$very-unhealthy-color: #660099;
$hazardous-color: #7E0023;
$yes-color: #69b764;
$nobelow2k-color: #ffdd71;
$no-color: #b10318;

.baaqmd-maps-main {
    // put all style rules inside here to ensure they are scoped to library
    height: 100%;
    background-color: $light-color;
    font-family: "proxima-nova-n4","proxima-nova","Open Sans",Corbel,Helvetica,Arial,Helvetica,Arial,sans-serif;
    color: rgba(black, 0.67);
    position: relative;
    a {
        color: $primary-color;
        text-decoration: underline;
    }
    :focus {
        outline: -webkit-focus-ring-color auto 0px !important;
    }
    a:hover, a:focus {
        color: $secondary-color;
    }
    a:hover, a:focus, a.event-no:hover, a.event-no:focus {
        outline:none;
    }
    .baaqmd-maps-info-panel-mask {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        background-color: rgba($dark-color, 0.15);
    }
    .baaqmd-maps-info-panel {
        position: absolute;
        margin: auto;
        top: 32px;
        bottom: 32px;
        right: 32px;
        left: 32px;
        max-height: 650px;
        max-width: 850px;
        background-color: white;
        color: rgba(black, 0.67);
        border-radius: 6px;
        border: 0px solid transparent;
        box-shadow: 0px 1px 3px 0px rgba(black, 0.2), 0px 1px 1px 0px rgba(black, 0.14), 0px 2px 1px -1px rgba(black, 0.12);
        z-index: 1001;
        font-family: "proxima-nova-n4","proxima-nova","Open Sans",Corbel,Helvetica,Arial,Helvetica,Arial,sans-serif;
        .baaqmd-maps-info-panel-content .baaqmd-maps-legend li {
            color: rgba(black, 0.67);
        }
        hr {
            margin-bottom: 18px;
        }
        .close-information-panel {
            cursor: pointer;
            position: absolute;
            border-radius: 50%;
            right: 15px;
            top: 5px;
            color: $primary-color;
            width: 28px;
            height: 28px;
            font-size: 2rem;
            text-align: center;
            border-color: transparent;
            background-color: transparent;
            padding: 0 !important;
            line-height: 0rem !important;
            &:hover, &:focus {
                color: $secondary-color;
                font-size: 2.3rem;
                background-color: transparent;
            }
        }
        .baaqmd-maps-info-panel-content {
            height: 100%;
            overflow-y: auto;
            .baaqmd-maps-info-panel-component {
                padding: 16px;
            }
        }
        h3 {
            margin-top: 2px;
            margin-bottom: 4px;
        }
        p {
            font-size: 0.8rem;
            line-height: 1.1rem;
        }
        .impacted-communities {
            h3, p {
                margin-left: 30px;
            }
            i {
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    position:absolute;
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    border: solid 0px transparent;
                    left: -24px;
                }
            }
        }
    }
    .mapboxgl-map {
        font-family: "proxima-nova-n4","proxima-nova","Open Sans",Corbel,Helvetica,Arial,Helvetica,Arial,sans-serif;
    }
    .mapboxgl-ctrl-group, .mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-geocoder *, .mapboxgl-ctrl-geocoder .geocoder-pin-right * {
        background-color: $light-color;
    }
    .mapboxgl-ctrl {
        border-radius: 0px;
    }

    .mapboxgl-ctrl-group {
        background-color: transparent;
    }
    .mapboxgl-ctrl-geocoder {
        background-color: $light-color;
        * {
            background-color: $light-color;
        }
        .geocoder-pin-right * {
            background-color: transparent;
        }
        *:focus, .geocoder-pin-right *:focus {
            background-color: white;
        }
        * .geocoder-icon-search, .geocoder-icon-search {
            background-color: transparent;
        }
        ul > li > a {
            text-decoration: none;
        }
        ul > li:hover > a, ul > li:focus > a {
            color: rgba(black, 0.8);
            background-color: rgba(238,131,1,0.2);
            text-decoration: none;
        }
        ul > li.active > a {
            color: #202020;
            background-color: rgba(200,220,240,0.6);
            text-decoration: none;
        }
    }
    .mapboxgl-ctrl-geocoder:focus {
        background-color: #fff;
    }
    .mapboxgl-ctrl-group:not(:empty) {
        -moz-box-shadow: 0 2px 2px rgba(black, 0.1);
        -webkit-box-shadow: 0 2px 2px rgba(black, 0.1);
        box-shadow: 0 0 2px 2px rgba(black, 0.1);
    }
    .mapboxgl-ctrl-group {
        border-radius: 6px;
    }
    .mapboxgl-ctrl-group > button {
        border-radius: 6px;
        background: $primary-color;
        color: white;
    }
    .mapboxgl-ctrl-group > button:hover, .mapboxgl-ctrl-group > button:focus {
        box-shadow: 0px 1px 3px 0px rgba(black, 0.2), 0px 1px 1px 0px rgba(black, 0.14), 0px 2px 1px -1px rgba(black, 0.12);
        background: $secondary-color !important;
    }
    i.icomoon, i.im {
        font-style: normal;
    }
    .icomoon, .im {
        font-family: icomoon;
        &.im-aqi-index:before {
          content: "\e901";
        }
        &.im-forecast:before {
          content: "\e921";
        }
        &.im-info:before {
          content: "\e920";
        }
        &.im-boundaries:before {
          content: "\e91f";
        }
        &.im-share:before {
          content: "\e91c";
        }
        &.im-email:before {
            content: "\e91a";
        }
        &.im-twitter:before {
          content: "\e91b";
        }
        &.im-facebook:before {
          content: "\e91d";
        }

    }
    .mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
        background-image: none;
        font-size: 0.9rem;
        background-image: none !important;
    }
    .mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon:hover, .mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon:focus {
        font-size: 1.1rem;
        box-shadow: 0px 1px 3px 0px rgba(black, 0.2), 0px 1px 1px 0px rgba(black, 0.14), 0px 2px 1px -1px rgba(black, 0.12);
    }
    .mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
        background-image: none;
        font-size: 0.9rem;
        background-image: none !important;
    }
    .mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon:before {
        display: inline-block;
        padding-top: 7px;
        content: "\e90f";
    }
    .baaqmd-maps-print-button:hover .mapboxgl-ctrl-icon, .mapboxgl-ctrl-zoom-in:focus .mapboxgl-ctrl-icon {
        font-size: 1.3rem;
    }
    .mapboxgl-ctrl-icon.baaqmd-maps-print-button:before {
      content: "\e90c";
    }
    .mapboxgl-ctrl-icon.baaqmd-maps-help-button {
        font-size: 1.3rem;
    }
    .mapboxgl-ctrl-icon.baaqmd-maps-help-button:hover, .mapboxgl-ctrl-icon.baaqmd-maps-help-button:focus {
        font-size: 1.4rem;
    }
    .mapboxgl-ctrl-icon.baaqmd-maps-help-button:before {
      content: "\e906";
    }
    .mapboxgl-ctrl-zoom-out:hover .mapboxgl-ctrl-icon, .mapboxgl-ctrl-zoom-out:focus .mapboxgl-ctrl-icon {
        // font-size: 1.1rem;
        box-shadow: 0px 1px 3px 0px rgba(black, 0.2), 0px 1px 1px 0px rgba(black, 0.14), 0px 2px 1px -1px rgba(black, 0.12);
    }
    .mapboxgl-ctrl button.mapboxgl-ctrl-compass .mapboxgl-ctrl-icon {
        background-image: none;
        font-size: 1.3rem;
        margin: 0;
        text-align: center;
    }
    .mapboxgl-ctrl-compass .mapboxgl-ctrl-icon:before {
        margin-top:-2px;
        content: "\e90e";
    }
    .mapboxgl-ctrl-compass:hover .mapboxgl-ctrl-icon, .mapboxgl-ctrl-compass:focus .mapboxgl-ctrl-icon {
        box-shadow: 0px 1px 3px 0px rgba(black, 0.2), 0px 1px 1px 0px rgba(black, 0.14), 0px 2px 1px -1px rgba(black, 0.12);
    }
    .mapboxgl-ctrl-compass:hover .mapboxgl-ctrl-icon > .mapboxgl-ctrl-compass-arrow, .mapboxgl-ctrl-compass:focus .mapboxgl-ctrl-icon > .mapboxgl-ctrl-compass-arrow {
        font-size: 1.5rem;
    }
    .mapboxgl-ctrl button.mapboxgl-ctrl-geolocate .mapboxgl-ctrl-icon {
        background-image: none;
        font-size: 1.3rem;
        line-height: 1.8rem;
    }
    .mapboxgl-ctrl-geolocate .mapboxgl-ctrl-icon::before {
        background-image: none;
    }
    .mapboxgl-ctrl-geolocate:hover .mapboxgl-ctrl-icon, .mapboxgl-ctrl-geolocate:focus .mapboxgl-ctrl-icon {
        font-size: 1.4rem;
        box-shadow: 0px 1px 3px 0px rgba(black, 0.2), 0px 1px 1px 0px rgba(black, 0.14), 0px 2px 1px -1px rgba(black, 0.12);
    }
    button.mapboxgl-ctrl-icon.baaqmd-maps-print-button > i.fas.fa-print.icomoon.icon-Print {
        background-image: none;
        font-size: 1.2rem;
    }
    button.mapboxgl-ctrl-icon.baaqmd-maps-print-button:hover, button.mapboxgl-ctrl-icon.baaqmd-maps-print-button:focus {
        box-shadow: 0px 1px 3px 0px rgba(black, 0.2), 0px 1px 1px 0px rgba(black, 0.14), 0px 2px 1px -1px rgba(black, 0.12);
    }
    button.mapboxgl-ctrl-icon.baaqmd-maps-print-button:hover > i.fas.fa-print.icomoon.icon-Print, button.mapboxgl-ctrl-icon.baaqmd-maps-print-button:focus > i.fas.fa-print.icomoon.icon-Print {
        font-size: 1.4rem;
    }
    .mapboxgl-ctrl-icon {
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .mapboxgl-ctrl button .mapboxgl-ctrl-icon:before {
    }
    .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
        background-image: none;
        font-size: 0.9rem;
        background-image: none !important;
    }
    .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon, .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {

    }
    .mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon:before {
        display: inline-block;
        padding-top: 7px;
        content: "\e900";
    }
    .mapboxgl-ctrl-zoom-in:hover, .mapboxgl-ctrl-zoom-in:focus {
        font-size: 1.1rem;
        box-shadow: 0px 1px 3px 0px rgba(black, 0.2), 0px 1px 1px 0px rgba(black, 0.14), 0px 2px 1px -1px rgba(black, 0.12);
    }
    .mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
        background-image: none;
        font-size: 0.9rem;
        background-image: none !important;
    }
    .mapboxgl-ctrl-zoom-out:hover .mapboxgl-ctrl-icon:before, .mapboxgl-ctrl-zoom-out:focus .mapboxgl-ctrl-icon:before,
    .mapboxgl-ctrl-zoom-in:hover .mapboxgl-ctrl-icon:before, .mapboxgl-ctrl-zoom-in:focus .mapboxgl-ctrl-icon:before {
        // font-size: 1.1rem;
        // padding-top: 6px;
        // box-shadow: 0px 1px 3px 0px rgba(black, 0.2), 0px 1px 1px 0px rgba(black, 0.14), 0px 2px 1px -1px rgba(black, 0.12);
    }
    .mapboxgl-ctrl-compass .mapboxgl-ctrl-icon {
        background-image: none;
        font-size: 1.3rem;
        line-height: 1.5rem;
        margin: 0;
        text-align: center;
        width: 29px;
        height: 24px;
    }
    .mapboxgl-ctrl-icon.mapboxgl-ctrl-compass:hover, .mapboxgl-ctrl-icon.mapboxgl-ctrl-compass:focus {
        box-shadow: 0px 1px 3px 0px rgba(black, 0.2), 0px 1px 1px 0px rgba(black, 0.14), 0px 2px 1px -1px rgba(black, 0.12);
    }
    .mapboxgl-ctrl-icon.mapboxgl-ctrl-compass:hover > .mapboxgl-ctrl-compass-arrow, .mapboxgl-ctrl-icon.mapboxgl-ctrl-compass:focus > .mapboxgl-ctrl-compass-arrow {
        font-size: 1.5rem;
    }
    .mapboxgl-ctrl-geolocate .mapboxgl-ctrl-icon{
        background-image: none;
        font-size: 1.1rem;
    }
    .mapboxgl-ctrl-geolocate .mapboxgl-ctrl-icon::before{
        content: "\e903";
    }
    .mapboxgl-ctrl-geolocate:hover .mapboxgl-ctrl-icon, .mapboxgl-ctrl-geolocate:focus .mapboxgl-ctrl-icon {
        font-size: 1.4rem;
        box-shadow: 0px 1px 3px 0px rgba(black, 0.2), 0px 1px 1px 0px rgba(black, 0.14), 0px 2px 1px -1px rgba(black, 0.12);
    }
    .mapboxgl-ctrl button.mapboxgl-ctrl-fullscreen .mapboxgl-ctrl-icon, .mapboxgl-ctrl button.mapboxgl-ctrl-shrink .mapboxgl-ctrl-icon{
        background-image: none;
        font-size: 1.3rem;
    }
    .mapboxgl-ctrl-fullscreen:hover .mapboxgl-ctrl-icon, .mapboxgl-ctrl-shrink:hover .mapboxgl-ctrl-icon{
        font-size: 1.6rem;
    }
    .mapboxgl-ctrl-fullscreen .mapboxgl-ctrl-icon:before {
        padding-top: 4px;
        display: inline-block;
        content: "\e905";
    }
    .mapboxgl-ctrl-shrink .mapboxgl-ctrl-icon:before {
        padding-top: 4px;
        display: inline-block;
        content: "\e916";
    }
    .baaqmd-maps-details-panel-wrapper {
        width: $side-panel-width;
    }
    .baaqmd-maps-map, .baaqmd-maps-details-panel, .baaqmd-maps-details-panel-wrapper {
        height: 100%;
    }
    .baaqmd-maps-details-panel, .baaqmd-maps-details-panel-expander, .baaqmd-maps-details-panel-expander div {
        transition-property: all;
        transition-duration: 300ms;
    }
    .baaqmd-maps-details-panel {
        padding: 0px;
        width: 0px;
        float: left;
        position: relative;
        .choices__list--single:after {
            content: '\f279';
            font-family: "Font Awesome 5 Free";
            position: absolute;
            top: 16px;
            right: 36px;
        }
        .baaqmd-maps-details-links {
            margin: 6px 14px;
            font-size: 0.92rem;
            a {
                text-decoration: none;
            }
        }
        h3 {
            margin: 0;
            background-color: $mid-color;
            border: 0px solid transparent;
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            font-family: "proxima-nova-n4","proxima-nova","Open Sans",Corbel,Helvetica,Arial,Helvetica,Arial,sans-serif;
            font-size: 0.74rem;
            vertical-align: middle;
            letter-spacing: 2px;
            padding: 10px 20px 8px 20px;
            i {
                padding-right: 6px;
                font-size: 1.3rem;
                vertical-align: middle;
            }
        }
        h4 {
            margin: 0;
            padding: 10px;
            color: rgba(0, 10, 20, 0.65);
            font-weight: 600;
            font-size: 0.9rem;
            line-height: 1.2em;
            i {
                font-size: 1.2em;
                margin-right: 5px;
            }
        }
        .information-link {
            cursor: pointer;
            display: block;
            text-align: center;
            background: $primary-color;
            color: white;
            padding: 5px 0;
            border-radius: 6px;
            margin-bottom: 10px;
            i {
                margin-right: 6px;
            }
            &:hover, &:focus {
                background: $secondary-color;
                color: white;
                box-shadow: 0px 1px 3px 0px rgba(black, 0.2), 0px 1px 1px 0px rgba(black, 0.14), 0px 2px 1px -1px rgba(black, 0.12);
            }
        }
        .baaqmd-maps-details-panel-content{
            position: absolute;
            width: $side-panel-width;
            top: 48px;
            bottom: 0;
            overflow-y: auto;
            .baaqmd-maps-last-updated {
                margin: 0 0 10px 13px;
            }
        }
        .baaqmd-maps-details-panel-expander {
            position: absolute;
            z-index: 100;
            padding: 0;
            cursor: pointer;
            width: 48px;
            height: 48px;
            text-align: center;
            line-height: 2.4rem !important;
            border-radius: 6px;
            border-top-left-radius: 0px;
            border-top-right-radius: 6px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 6px;
            background: $primary-color;
            color: white;
            top: 0;
            right: -48px;
            &:hover, &:focus {
                box-shadow: 0px 1px 3px 0px rgba(black, 0.2), 0px 1px 1px 0px rgba(black, 0.14), 0px 2px 1px -1px rgba(black, 0.12);
                background: $secondary-color !important;
            }
            i {
                font-size: 1.3rem;
                vertical-align: middle;
                padding: 11px 2px 5px;
            }
            &.baaqmd-maps-expanded i {
                padding: 11px 2px 4px;
            }
            &.baaqmd-maps-share-buttons {
                top: 60px;
                text-align: left;
                overflow: hidden;
                a {
                    display: block;
                    float: left;
                    color: white;
                }
                div {
                    padding-top: 4px;
                    float: left;
                    text-align: center;
                    width: 48px;
                    height: 44px;
                    &:hover, &:focus {
                        background: $secondary-color !important;
                    }
                }
                i {
                    font-size: 1.8rem;
                }
                &:hover, &:focus {
                    box-shadow: 0px 1px 3px 0px rgba(black, 0.2), 0px 1px 1px 0px rgba(black, 0.14), 0px 2px 1px -1px rgba(black, 0.12);
                    background: $primary-color !important;
                    width: 192px;
                    right: -192px;
                }
            }
        }
        .baaqmd-maps-type-selector {
            .choices.no-select {
                cursor: default;
                .choices__inner {
                    padding-bottom: 8px;
                }
                div {
                    cursor: default;
                }
            }
            .choices.no-select::after {
                border-color: transparent;
            }
            .choices[data-type*=select-one]:after {
                border-color: $light-color transparent transparent transparent;
                right: 16px;
            }
            .choices[data-type*=select-one].is-open:after {
                border-color: transparent transparent $light-color transparent;
                right: 16px;
            }
            .choices__inner {
                display: block;
                width: auto;
                min-height: 28px;
                padding-top: 10px;
                padding-right: 30px;
                font-weight: 300;
                font-size: 16px;
                border-radius: 0;
                background-color: transparent;
                color: $dark-color;
                border-color: transparent;
            }
            .choices.is-focused .choices__inner {
                color: $secondary-color;
            }
            .choices__item.choices__item--selectable {
                font-family: "proxima-nova-n4","proxima-nova","Open Sans",Corbel,Helvetica,Arial;
                font-size: 1rem;
                line-height: 1rem !important;
                font-weight: 400;
                letter-spacing: 1px;
                font-family: Garamond, Georgia1, Georgia, serif;
            }
            .choices__list--dropdown .choices__item--selectable {
                background-color: rgb(250,250,250);
                font-size: 0.7rem;
                text-transform: uppercase;
                letter-spacing: 0;
                font-family: "proxima-nova-n4","proxima-nova","Open Sans",Corbel,Helvetica,Arial,Helvetica,Arial,sans-serif;
            }
            .choices__list--dropdown .choices__item--selectable.is-highlighted {
                background-color: rgba(238,131,1,0.2);
            }
            .choices[data-type*=select-one]:after {
                border-color: $primary-color transparent transparent transparent;
                border-width: 6px;
                top: 52%;
            }
            .choices[data-type*=select-one].is-focused:after {
                border-color: $secondary-color transparent transparent transparent;
            }
            .choices[data-type*=select-one].is-focused.is-open:after {
                border-color: transparent transparent $secondary-color transparent;
            }
        }
        .baaqmd-maps-popup {
            display: none;
        }
    }
    .baaqmd-maps-details-panel.baaqmd-maps-expanded {
        border-right: 1px solid rgba(0,60,120,0.3);
        box-shadow: 0px 1px 3px 0px rgba(black, 0.2), 0px 1px 1px 0px rgba(black, 0.14), 0px 2px 1px -1px rgba(black, 0.12);
    }
    .baaqmd-maps-details-panel.baaqmd-maps-expanded {
        border-right: 1px solid $mid-color;
        width: $side-panel-width;
    }
    .baaqmd-maps-print-button {
        font-size: 18px;
    }
    .baaqmd-maps-help-button {

    }
    .baaqmd-maps-aqi-forecast-dates{
        padding-inline-start: 0;
        margin: 0px 10px 5px 10px;
        li {
            display: inline-block;
            border-bottom: solid transparent 2px;
            a {
                text-decoration: none;
                margin: 0 2px;
                background: white;
                color: rgba(black, 0.67);
                font-size: 0.7rem !important;
                padding: 4px 8px;
                border-radius: 6px;
                box-shadow: rgba(black, 0.19) 0px 1px 3px 0px;
            }
            a:hover, li a:focus {
                background: $secondary-color;
                color: white;
                box-shadow: 0px 1px 3px 0px rgba(black, 0.2), 0px 1px 1px 0px rgba(black, 0.14), 0px 2px 1px -1px rgba(black, 0.12);
            }
        }
        li.active {
            border-bottom: solid white 0px;
            a {
                background: $primary-color;
                color: white;
                box-shadow: rgba(black, 0.19) 0px 1px 3px 0px;
            }
        }
    }
    .mapboxgl-popup-content {
        padding: 0px;
        max-width: 250px;
        height: 275px;
        border-radius: 6px;
        box-shadow: 0 1px 2px rgba(black, 0.1);
        box-shadow: 0px 1px 3px 0px rgba(black, 0.2), 0px 1px 1px 0px rgba(black, 0.14), 0px 2px 1px -1px rgba(black, 0.12);
        .baaqmd-maps-scroll-for-more {
            color: $primary-color;
            position: absolute;
            bottom: -4px;
            padding: 2px;
            margin: 4px;
            background-color: rgba(255, 255, 255, 0.9);
            width: 238px;
            -webkit-transition: opacity 300ms ease-in-out;
            -moz-transition: opacity 300ms ease-in-out;
            -ms-transition: opacity 300ms ease-in-out;
            -o-transition: opacity 300ms ease-in-out;
             opacity: 1;
             &.scrolled-to-bottom{
                 opacity: 0;
             }
             i {
                 margin-right: 4px;
             }
        }
        .mapboxgl-popup-close-button, .mapboxgl-popup-expand-button {
            position: absolute;
            border: 0;
            cursor: pointer;
            border-radius: 50%;
            right: 10px;
            top: 5px;
            color: $primary-color;
            width: 28px;
            height: 28px;
            font-size: 2rem;
            text-align: center;
            border-radius: 50%;
            background-color: transparent;
            padding: 0 !important;
            line-height: 0rem !important;
            &:hover, &:focus {
                color: $secondary-color;
                font-size: 2.3rem;
                background-color: transparent;
            }
        }
        .mapboxgl-popup-expand-button {
            font-size: 1rem;
            right: 34px;
            top: 8px;
            &:hover, &:focus {
                top: 9px;
                font-size: 1.3rem;
            }
        }
    }
    .baaqmd-maps-popup {
        overflow-y: auto;
        height: 100%;
        .baaqmd-maps-popup-content {
            padding: 10px 30px 25px 10px;
            h3 {
                margin: 0 30px 10px 0;
                span {
                    font-size: 0.95rem;
                    vertical-align: middle;
                    line-height: 0rem !important;
                }
                i {
                    font-size: 1.4rem;
                    vertical-align: middle;
                    line-height: 0rem !important;
                }
            }
            h4 {
                font-size: 0.85rem;
                vertical-align: middle;
                margin: 15px 0 0;
            }
            .baaqmd-maps-zone-forecast {
                thead {
                    th {
                        cursor: pointer;
                        color: $primary-color;
                        &.baaqmd-maps-no-link {
                            cursor: default;
                            color: rgba(black, 0.6);
                        }
                    }
                }
            }
            table {
                margin-top: 5px;
                width: 100%;
                td {
                    text-align: center;
                    font-size: 0.65rem;
                    .baaqmd-maps-zone-forecast-zone-item {
                        margin-bottom: 4px;
                        border-style: solid;
                        border-width: 0;
                        font-size: 0.65rem;
                        font-weight: 700;
                        border-radius: 6px;
                        width: 100%;
                        display: inline-block;
                    }
                }
                .baaqmd-maps-zone-forecast-date {
                    a {
                        color: rgba(black, 0.4);
                        text-decoration: none;
                    }
                }
                .baaqmd-maps-zone-forecast-date.active {
                    a {
                        color: $primary-color;
                    }
                    a:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
    .baaqmd-maps-legend {
        color: darken($dark-color, 10%);
        margin: 0;
        padding: 0;
        li {
            display: block;
            padding-left: 36px;
            min-height: 20px;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 0.8rem;
            line-height: 1.1rem;
            background-color: transparent;
            color: darken($dark-color, 10%);
            .facilities-layer-icon {
                position: relative;
                top: 5px;
            }
        }
    }
    .baaqmd-maps-boundaries {
        padding-top: 5px;
        padding-bottom: 5px;
        li {
            padding-left: 10px;
            margin-top: 0;
            margin-bottom: 0;
            position: relative;
            input {
                margin-top: 7px;
                vertical-align: top !important;
                height: 20px;
                width: 20px;
            }
            &:after {
                content: " ";
                width: 80px;
                display: block;
                height: 0px;
                background-color: transparent;
                position: absolute;
                margin: 14px 10px;
                right: 0;
                top: 0;
            }
        }
        &.baaqmd-maps-lines {
            li:after {
                box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px 1px 2px rgba(0, 0, 0, 0.05), 0px 1px 1px -1px rgba(0, 0, 0, 0.05);
            }
        }
        .legend-display {
            width: 14px;
            height: 24px;
            color: rgba(black, 0.6);
            font-size: 1.6rem;
            border: 0 solid transparent;
            i {
                display: inline-block;
                width: 16px;
                height: 16px;
                box-sizing: border-box;
                position: relative;
                margin: 0 5px;
                top: 6px;
                left: -4px;
                font-family: 'icomoon' !important;
                font-style: normal;
            }
        }
        .aqi-reporting-zones {
            .legend-display {
                color: $dark-color;
                i:before {
                    content: "\e917";
                }
            }
            &:after {
                height: 2px;
                background-color: white;
            }
        }
        .district-boundary {
            .legend-display {
                color: $primary-color;
                i:before {
                    content: "\e918";
                }
            }
            &:after {
                height: 2px;
                background-color: black;
            }
        }
        .counties {
            .legend-display {
                color: #5e5e5e;
                i:before {
                    content: "\e919";
                }
            }
            &:after {
                height: 1px;
                background-color: #5e5e5e;
            }
        }
    }
    .air-quality{
        position: relative;
        .legend-display {
            line-height: 20px;
            i:before {
                content: '';
                display: block;
                position:absolute;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                border: solid 0px transparent;
                left: 5px;
                top: -2px;
            }
        }
    }
    .air-monitoring{
        i:before {
            background-color: #10649F;
        }
    }
    .facility-glm-stations{
        i:before {
            background-color: #068A47;
        }
    }
    .meteorological-sites{
        i:before {
            background-color: #D28F60;
        }
    }

    .air-monitoring-attribute-data {
      font-weight: bold;
      text-align: left;
    }

    .impacted-communities{
        position: relative;
        .legend-display {
            line-height: 20px;
            i:before {
                content: '';
                display: block;
                position:absolute;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                border: solid 0px transparent;
                left: 5px;
                top: -2px;
            }
        }
    }
    .cumulative-impact-areas{
        i:before {
            background-color: #609;
        }
    }
    .pm25-impact-areas{
        i:before {
            background-color: #ff9933;
        }
    }
    .ozone-impact-areas{
        i:before {
            background-color: #11c086;
        }
    }
    .baaqmd-maps-last-updated {
        color: rgba(black, 0.5);
        font-size: 0.72rem;
        font-style: italic;
    }
    .good, .good:before {
        border-color: $good-color;
        background-color: $good-color;
        color: white;
    }
    .moderate, .moderate:before {
        border-color: $moderate-color;
        background-color: $moderate-color;
        color: #222222;
    }
    .unhealthy-for-sensitive-groups, .unhealthy-for-sensitive-groups:before {
        border-color: $unhealthy-for-sensitive-groups-color;
        background-color: $unhealthy-for-sensitive-groups-color;
        color: #222222;
    }
    .unhealthy, .unhealthy:before {
        border-color: $unhealthy-color;
        background-color: $unhealthy-color;
        color: white;
    }
    .very-unhealthy, .very-unhealthy:before {
        border-color: $very-unhealthy-color;
        background-color: $very-unhealthy-color;
        color: white;
    }
    .hazardous, .hazardous:before {
        border-color: $hazardous-color;
        background-color: $hazardous-color;
        color: white;
    }
    .yes, .yes:before {
        border-color: $yes-color;
        background-color: $yes-color;
        color: white;
    }
    .nobelow2k, .nobelow2k:before {
        border-color: $nobelow2k-color;
        background-color: $nobelow2k-color;
        color: #222222;
    }
    .no, .no:before {
        border-color: $no-color;
        background-color: $no-color;
        color: white;
    }
    .five-day-forecast-table {
        margin-top: 5px;
        width: 100%;
        border-spacing: 16px;
        th {
            font-size: 0.9rem;
        }
        .baaqmd-maps-zone-forecast-name{
            max-width: 100px;
        }
        td {
            text-align: center;
            font-size: 0.65rem;
            .baaqmd-maps-legend {
                padding: 5px;
                margin-bottom: 4px;
                border-style: solid;
                border-width: 0;
                font-size: 0.65rem;
                font-weight: 700;
                border-radius: 6px;
                width: 100%;
                display: inline-block;
                .baaqmd-maps-pollutant{
                    font-weight: 500;
                }
            }
        }
        .baaqmd-maps-zone-forecast-date {
            a {
                color: rgba(black, 0.4);
                text-decoration: none;
            }
        }
        .baaqmd-maps-zone-forecast-date.active {
            a {
                color: $primary-color;
            }
            a:hover {
                color: $secondary-color;
            }
        }
    }
    .aqi-forecast-legend {
        position: relative;
        li::before {
            content: '';
            display: block;
            position:absolute;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            border: solid 0px transparent;
            left: 13px;
        }
    }
    .geocoder-icon-search {
        background-image: none;
        &:after{
            color: $primary-color;
            content: '\e907';
            font-family: "icomoon";
            position: absolute;
            top: 0;
            left: -3px;
            font-size: 2em;
        }
    }
    .baaqmd-maps-scroll-mask {
        position: absolute;
        z-index: 1000;
        height: 100%;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        background-color: rgba(134, 134, 134, 0.75);
        .baaqmd-maps-scroll-mask-message {
            color: rgb(236, 236, 236);
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
