@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700");

$dark-color: rgb(0,76,131);
$light-color: rgb(239,246,247);
$mid-color: rgb(0,142,184);
$side-panel-width: 335px;

.baaqmd-maps-main {
    // put all style rules inside here to ensure they are scoped to library
    height: 100%;
    background-color: $light-color;
    font-family: "Roboto", arial, sans-serif;
    .mapboxgl-ctrl-group, .mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-geocoder *, .mapboxgl-ctrl-geocoder .geocoder-pin-right * {
        background-color: $light-color;
    }
    .mapboxgl-ctrl {
        border-radius: 0;
    }
    .baaqmd-maps-details-panel-wrapper {
        width: $side-panel-width;
    }
    .baaqmd-maps-map, .baaqmd-maps-details-panel, .baaqmd-maps-details-panel-wrapper {
        height: 100%;
    }
    .baaqmd-maps-details-panel, .baaqmd-maps-details-panel-expander {
        transition-property: all;
        transition-duration: 300ms;
    }
    .baaqmd-maps-details-panel {
        padding: 0px;
        width: 0px;
        float: left;
        position: relative;
        h3 {
            margin: 0;
            padding: 15px 20px;
            color: $light-color;
            font-weight: 300;
            font-size: 14px;
            background-color: $mid-color;
            border: 1px solid darken($mid-color, 10%);
            i {
                padding-right: 6px;
            }
        }
        .baaqmd-maps-details-panel-content{
            position: absolute;
            width: $side-panel-width;
            top: 48px;
            bottom: 0;
            overflow-y: auto;
        }
        .baaqmd-maps-details-panel-expander {
            position: absolute;
            right: -38px;
            width: 20px;
            height: 20px;
            top: 10px;
            z-index: 100;
            padding: 4px;
            cursor: pointer;
        }
        .baaqmd-maps-details-panel-expander i {
            padding: 2px 5px;
        }
        .baaqmd-maps-details-panel-expander.baaqmd-maps-expanded i {
            padding: 2px 4px;
        }
        .baaqmd-maps-type-selector {
            .choices.no-select {
                cursor: default;
                .choices__inner {
                    padding-bottom: 8px;
                }
                div  {
                    cursor: default;
                }
            }
            .choices.no-select::after {
                border-color: transparent;
            }
            .choices[data-type*=select-one]:after {
                border-color: $light-color transparent transparent transparent;
                right: 50px;
            }
            .choices[data-type*=select-one].is-open:after {
                border-color: transparent transparent $light-color transparent;
                right: 50px;
            }
            .choices__inner {
                display: block;
                width: auto;
                min-height: 28px;
                padding-top: 10px;
                padding-right: 64px;
                font-weight: 300;
                font-size: 16px;
                background-color: $dark-color;
                color: $light-color;
                border-color: darken($dark-color, 10%);
                border-radius: 0;
            }
        }
        .baaqmd-maps-popup {
            display: none;
        }
    }
    .baaqmd-maps-details-panel.baaqmd-maps-expanded {
        border-right: 1px solid $mid-color;
        width: $side-panel-width;
        .baaqmd-maps-details-panel-expander {
            right: 10px;
        }
    }
    .baaqmd-maps-print-button {
        font-size: 18px;
    }
    .baaqmd-maps-aqi-forecast-dates{
        li {
            display: inline-block;
            a {
                text-decoration: none;
                color: $mid-color;
                margin: 0 2px;
            }
            border-bottom: solid transparent 2px;
        }
        li.active {
            border-bottom: solid $dark-color 2px;
        }
    }
    .mapboxgl-popup-content {
        max-width: 250px;
        height: 275px;
        .baaqmd-maps-popup {
            overflow-y: auto;
            height: 100%;
            h3 {
                margin: 0 0 2px;
            }
            h4 {
                margin: 7px 0 0;
            }
            table {
                margin-top: 5px;
                width: 100%;
                td {
                    text-align: center;
                    .baaqmd-maps-zone-forecast-zone-item {
                        margin-bottom: 4px;
                        border-style: solid;
                        border-width: 0 0 4px;
                    }
                    .good {
                        border-color: #096;
                    }
                    .moderate {
                        border-color: #ffde33;
                    }
                    .unhealthy-for-sensitive-groups {
                        border-color: #ff9933;
                    }
                    .unhealthy {
                        border-color: #cc0033;
                    }
                    .very-unhealthy {
                        border-color: #660099;
                    }
                    .hazardous {
                        border-color: #7E0023;
                    }
                }
                .baaqmd-maps-zone-forecast-date {
                    a {
                        color: darken($light-color, 30%);
                        text-decoration: none;
                    }
                }
                .baaqmd-maps-zone-forecast-date.active {
                    a {
                        color: $dark-color;
                    }
                }
            }
        }
    }
    .baaqmd-maps-legend {
        color: darken($dark-color, 10%);
        margin: 0;
        padding: 0;
        li {
            display: block;
            // font-size: 0.8em;
            padding-left: 32px;
            min-height: 20px;
            margin-bottom: 8px;
            font-size: 14px;
            line-height: 18px;
        }
    }
    .aqi-forecast-legend {
        li::before {
            border-radius: 3px;
            border: solid 1px darken($dark-color, 10%);
            content: '';
            display: block;
            position:absolute;
            left: 10px;
            height: 16px;
            width: 16px;
        }
        .good::before {
            background-color: #096;
        }
        .moderate::before {
            background-color: #ffde33;
        }
        .unhealthy-for-sensitive-groups::before {
            background-color: #ff9933;
        }
        .unhealthy::before {
            background-color: #cc0033;
        }
        .very-unhealthy::before {
            background-color: #660099;
        }
        .hazardous::before {
            background-color: #7E0023;
        }
    }
    .baaqmd-maps-last-updated {
        color: darken($light-color, 60%);
        font-size: 12px;
        margin: 12px;
    }
}
