<h3 class="modal-title">
    <i class="fas fa-info-circle"></i>
    Air Quality Index Forecasts
</h3>
<hr>
<ul class="baaqmd-maps-legend aqi-forecast-legend">
    <li class="good">
        <h3>Good (0-50)</h3>
        <p>No health impacts are expected when air quality is in this range.</p>
    </li>
    <li class="moderate">
        <h3>Moderate (51-100)</h3>
        <p>Unusually sensitive people should consider limiting prolonged outdoor exertion.</p>
    </li>
    <li class="unhealthy-for-sensitive-groups">
        <h3>Unhealthy for Sensitive Groups (101-150)</h3>
        <p>Active children and adults, and people with respiratory disease, such as asthma, should limit outdoor exertion.</p>
    </li>
    <li class="unhealthy">
        <h3>Unhealthy (151-200)</h3>
        <p>Active children and adults, and people with respiratory disease, such as asthma, should avoid prolonged outdoor exertion; everyone else, especially children, should limit prolonged outdoor exertion.</p>
    </li>
    <li class="very-unhealthy">
        <h3>Very Unhealthy (201-300)</h3>
        <p>Active children and adults, and people with respiratory disease, such as asthma, should avoid all outdoor exertion; everyone else, especially children, should limit outdoor exertion.</p>
    </li>
    <li class="hazardous">
        <h3>Hazardous (301-500)</h3>
        <p>Pollution is hazardous at these levels. Everyone should take steps to reduce their exposure when particle pollution levels are in this range.</p>
    </li>
</ul>
<div data-bind="html: aqiInfo"></div>
