<div class="baaqmd-maps-popup">
    <div class="baaqmd-maps-popup-content">
        <h3>
            <i class="fas fa-wind"></i>
            <span data-bind="text: name"></span>
        </h3>
        <div class="baaqmd-maps-last-updated">
            Last Updated:
            <span data-bind="text: new Intl.DateTimeFormat('en-US', { weekday: 'long'}).format(lastUpdated)"></span>,
            <span data-bind="text: lastUpdated.toLocaleDateString()"></span>
            at
            <span data-bind="text: lastUpdated.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})"></span>
        </div>

        <table class="baaqmd-maps-zone-forecast">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th data-bind="click: function() { showInfoPanel('AQIInfoPanel')}">AQI</th>
                    <th data-bind="click: function() { showInfoPanel('PollutantInfoPanel')}">Pollutant</th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: aqiData -->
                <tr>
                    <th data-bind="css: {
                        active: $index() === $parent.day()
                    }" class="baaqmd-maps-zone-forecast-date">
                        <a href="#" data-bind="click: function() {
                            $parent.day($index());
                        }, text: date"></a>
                    </th>
                    <td>
                        <span class="baaqmd-maps-zone-forecast-zone-item" data-bind="
                            text: measurement || forecast,
                            css: {
                                'good': forecast === 'Good',
                                'moderate': forecast === 'Moderate',
                                'unhealthy-for-sensitive-groups': forecast === 'Unhealthy for Sensitive Groups',
                                'unhealthy': forecast === 'Unhealthy',
                                'very-unhealthy': forecast === 'Very Unhealthy',
                                'hazardous': forecast === 'Hazardous'
                            }
                            "></span>
                    </td>
                    <td data-bind="text: pollutant">OZONE</td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>

        <h4>About the Five Day Forecast</h4>

        <div data-bind="html: aboutForecast"></div>

        <a target="_blank" href="http://www.baaqmd.gov/rtaqd-data">Real Time Air Monitoring Data (Data View)</a>
        </br>
        <a target="_blank" href="http://www.baaqmd.gov/forecast">Additional Information</a>
    </div>
</div>
