<h3>
    <i class="fas fa-wind"></i>
    Air Quality Forecast
</h3>
<h4><i class="icomoon im-forecast"></i> Daily Forecast</h4>
<!-- ko if: aqiData -->
<div class="baaqmd-maps-last-updated">
    Last Updated:
    <span data-bind="text: new Intl.DateTimeFormat('en-US', { weekday: 'long'}).format(aqiData().lastUpdated)"></span>,
    <span data-bind="text: aqiData().lastUpdated.toLocaleDateString()"></span>
    at
    <span data-bind="text: aqiData().lastUpdated.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})"></span>
</div>
<ul class="baaqmd-maps-aqi-forecast-dates">
    <!-- ko foreach: aqiData().dates -->
    <li data-bind="css: {
        active: $index() === $parent.day()
    }">
        <a href="#" data-bind="click: function() {
            $parent.day($index());
        }, text: date"></a>
    </li>
    <!-- /ko -->
</ul>
<h4><i class="icomoon im-aqi-index"></i> Air Quality Index</h4>
<ul class="baaqmd-maps-legend aqi-forecast-legend">
    <li class="good">
        Good (0-50)
    </li>
    <li class="moderate">
        Moderate (51-100)
    </li>
    <li class="unhealthy-for-sensitive-groups">
        Unhealthy for Sensitive Groups (101-150)
    </li>
    <li class="unhealthy">
        Unhealthy (151-200)
    </li>
    <li class="very-unhealthy">
        Very Unhealthy (201-300)
    </li>
    <li class="hazardous">
        Hazardous (301-500)
    </li>
</ul>
<div class="baaqmd-maps-details-links">
    <a href="javascript: void(0);" class="information-link" data-bind="click: function() { showInfoPanel('AQIForecastPanel'); }">
        <i class="fas fa-wind"></i>
        Five Day Forecast
    </a>
    <a href="javascript: void(0);" class="information-link" data-bind="click: function() { showInfoPanel('AQIInfoPanel'); }">
        <i class="im im-info"></i>
        More Information
    </a>
</div>
<h3>
    <i class="im im-boundaries"></i>
    Boundaries
</h3>
<ul class="baaqmd-maps-legend baaqmd-maps-boundaries">
    <li class="aqi-reporting-zones">
        <input type="checkbox" data-bind="checked: layers.aqi.flag">
        <span class="legend-display">
            <i></i>
        </span>
        AQI Reporting Zones
    </li>
    <li class="counties">
        <input type="checkbox" data-bind="checked: layers.counties.flag">
        <span class="legend-display">
            <i></i>
        </span>
        Counties
    </li>
    <li class="district-boundary">
        <input type="checkbox" data-bind="checked: layers.district.flag">
        <span class="legend-display">
            <i></i>
        </span>
        District Boundary
    </li>
</ul>
<!-- /ko -->
