<h3 class="modal-title">
    <i class="fas fa-info-circle"></i>
    Winter Spare the Air Alert
</h3>
<hr>
<div>
    <div class="modal-header">
        <h4 class="modal-title" id="x">
            <div class="modal-title-icon icomoon icon-SpareAirHoriz"></div>
        </h4>
    </div>
    <div class="modal-body">
        <div class="centered-cntnt">
            <div class="alert-area">
                <div class="alert-text-area">
                    <div class="alrt-centered-cntnt">
                        <div class="alert-txt">ALERT</div>
                        <div class="alert-icon icomoon icon-AlertTwo"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="alert-ttl">No Wood Burning</div>
                </div>
            </div>
        </div>
        <div class="centered-cntnt">
            <div class="alert-main-text" data-bind="html: winterModal"></div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="centered-cntnt">
            <input type="submit" value="Learn More">
        </div>
    </div>
</div>

