<h3>
    <i class="fas fa-users"></i>
    Overburdened Communities
    <div class="accordion-icon icomoon" data-bind="css: {'icon-Subtract': mainExpanded, 'icon-Add2': !mainExpanded()}, click: function() { mainExpanded(!mainExpanded()); }"></div>
</h3>
<div class="accordion-panel"
    data-bind="css: {'accordion-panel-expanded': mainExpanded, 'accordion-panel-collapsed': !mainExpanded()}">
    <ul class="baaqmd-maps-legend baaqmd-maps-boundaries impacted-communities">
        <li class="overburdened-areas">
            <input type="checkbox" data-bind="checked: layers.overburdened.flag">
            <span class="legend-display">
                <i></i>
            </span>
            Overburdened communities
        </li>
        <li class="overburdened-buffer">
            <input type="checkbox" data-bind="checked: layers.buffer.flag">
            <span class="legend-display">
                <i></i>
            </span>
            1000 foot buffer zone
        </li>
        <li>
            <input type="checkbox" data-bind="checked: layers.markers.flag">
            <i class="fas fa-map-marker-alt overburdened-marker-icon"></i>
            Markers (<span data-bind="text: markers().length"></span>)
        </li>
    </ul>
    <div class="baaqmd-maps-details-links">
        <div class="coordinate-entry-input">
            <span>Longitude:</span> <input type="number" data-bind="value: xCoord">
            <span>Latitude:</span><input type="number" data-bind="value: yCoord">
        </div>
        <a href="javascript: void(0);" class="information-link" data-bind="click: addMarkerFromCoordinates">
            <i class="fas fa-plus"></i>
            Add Marker From Coodinates
        </a>
        <a href="javascript: void(0);" class="information-link" data-bind="click: function() {
            addMarkerOnClick(!addMarkerOnClick());
        }">
            <i class="fas fa-map-marker-alt"></i>
            Click to add Marker
        </a>
        <a href="javascript: void(0);" class="information-link" data-bind="click: function() {
                    markers([]);
                }">
            <i class="fas fa-times-circle"></i>
            Clear Markers
        </a>
        <a href="javascript: void(0);" class="information-link"
            data-bind="click: function() { showInfoPanel('OverburdenedCommunitiesInfoPanel'); }">
            <i class="fas fa-info-circle"></i>
            More Information
        </a>
    </div>
</div>
<h3>
    <i class="im im-boundaries"></i>
    Boundaries
    <div class="accordion-icon icomoon"
        data-bind="css: {'icon-Subtract': boundariesExpanded, 'icon-Add2': !boundariesExpanded()}, click: function() { boundariesExpanded(!boundariesExpanded()); }">
    </div>
</h3>
<div class="accordion-panel"
    data-bind="css: {'accordion-panel-expanded': boundariesExpanded, 'accordion-panel-collapsed': !boundariesExpanded()}">
    <ul class="baaqmd-maps-legend baaqmd-maps-boundaries baaqmd-maps-lines">
        <li class="counties">
            <input type="checkbox" data-bind="checked: layers.counties.flag">
            <span class="legend-display">
                <i></i>
            </span>
            Counties
        </li>
        <li class="district-boundary">
            <input type="checkbox" data-bind="checked: layers.district.flag">
            <span class="legend-display">
                <i></i>
            </span>
            District Boundary
        </li>
    </ul>
