<h3>
    <i class="icomoon icon-Overburdened"></i>
    Overburdened Areas
    <div class="accordion-icon icomoon" data-bind="css: {'icon-Subtract': mainExpanded, 'icon-Add2': !mainExpanded()}, click: function() { mainExpanded(!mainExpanded()); }"></div>
</h3>
<div class="accordion-panel"
    data-bind="css: {'accordion-panel-expanded': mainExpanded, 'accordion-panel-collapsed': !mainExpanded()}">
    <ul class="baaqmd-maps-legend baaqmd-maps-boundaries impacted-communities">
        <li class="overburdened-areas">
            <input type="checkbox" data-bind="checked: layers.overburdened.flag">
            <span class="legend-display">
                <i></i>
            </span>
            Overburdened Census Tracts
        </li>
        <li class="overburdened-buffer">
            <input type="checkbox" data-bind="checked: layers.buffer.flag">
            <span class="legend-display">
                <i></i>
            </span>
            1,000 Foot Buffer Zone
        </li>
    </ul>
    <div class="baaqmd-maps-details-links">
        <a href="javascript: void(0);" class="information-link"
            data-bind="click: function() { showInfoPanel('OverburdenedCommunitiesInfoPanel'); }">
            <i class="fas fa-info-circle"></i>
            More Information
        </a>
    </div>
</div>
<h3>
    <i class="icomoon icon-MixedPin"></i>
    Pin Locations
    <div class="accordion-icon icomoon icon-Subtract"
        data-bind="css: {'icon-Subtract': pinsExpanded, 'icon-Add2': !pinsExpanded()}, click: function() { pinsExpanded(!pinsExpanded()); }">
    </div>
</h3>
<div class="accordion-panel accordion-panel-expanded"
    data-bind="css: {'accordion-panel-expanded': pinsExpanded, 'accordion-panel-collapsed': !pinsExpanded()}">
        <ul class="baaqmd-maps-legend baaqmd-maps-boundaries impacted-communities">
            <li>
                <input type="checkbox" data-bind="checked: layers.overburdenedPins.flag" checked="checked">
                <i class="icomoon icon-LocationOverburdened"></i>
                <div class="list-text">Overburdened Pins (<span data-bind="text: overburdenedPinsCount"></span>)</div>
            </li>
            <li>
                <input type="checkbox" data-bind="checked: layers.notOverburdenedPins.flag" checked="checked">
                <i class="icomoon icon-LocationNotOverburdened"></i>
                <div class="list-text">
                    Not Overburdened Pins (<span data-bind="text: notOverburdenedPinsCount"></span>)</div>
            </li>
        </ul>
    <div class="baaqmd-maps-details-links">
        <div class="pin-section">
            <a href="javascript: void(0);" class="information-link full-button" data-bind="click: function() {
                    addPinOnClick(!addPinOnClick());
                },
                css: {
                    active: addPinOnClick
                }">
                <i class="icomoon icon-AddMixedPin"></i>
                Add pin
            </a>
        </div>
        <div class="or-text">- - OR - -</div>
        <div class="pin-section address-pin-section">
            <div class="search-area" data-bind="geocoder: {
                map: map,
                geocoder: geocoder
            }">
            </div>
            <a href="javascript: void(0);" class="information-link small-button" data-bind="click: addPinFromAddress">
                Pin
            </a>
        </div>
        <div class="or-text">- - OR - -</div>
        <div class="pin-section extra-btm-marg">
            <div class="coordinate-entry-input">
                <div class="lat-area">
                    <input type="text" placeholder=" Latitude..." min="-90" max="90" data-bind="textInput: yCoord, event: {keypress: coordsEnterKey}">
                </div>
                <div class="long-area">
                    <input type="text" placeholder=" Longitude..." min="-180" max="180" data-bind="textInput: xCoord, event: {keypress: coordsEnterKey}">
                </div>
            </div>
            <a href="javascript: void(0);" class="information-link small-button" data-bind="click: addPinFromCoordinates">
                Pin
            </a>
        </div>
        <div class="space-3pxblk"></div>
        <div class="buttons-area">
            <a href="javascript: void(0);" class="information-link" data-bind="click: function() {
                    pins([]);
                }">
                <i class="icomoon icon-Clear"></i>
                Clear Pins
            </a>
            <a href="javascript: void(0);" class="information-link" data-bind="click: function() { showInfoPanel('PinLocationsHelpPanel'); }">
                <i class="icomoon icon-Help2"></i>
                Help
            </a>
        </div>
    </div>
</div>
<h3>
    <i class="im im-boundaries"></i>
    Boundaries
    <div class="accordion-icon icomoon"
        data-bind="css: {'icon-Subtract': boundariesExpanded, 'icon-Add2': !boundariesExpanded()}, click: function() { boundariesExpanded(!boundariesExpanded()); }">
    </div>
</h3>
<div class="accordion-panel"
    data-bind="css: {'accordion-panel-expanded': boundariesExpanded, 'accordion-panel-collapsed': !boundariesExpanded()}">
    <ul class="baaqmd-maps-legend baaqmd-maps-boundaries baaqmd-maps-lines">
        <li class="counties">
            <input type="checkbox" data-bind="checked: layers.counties.flag">
            <span class="legend-display">
                <i></i>
            </span>
            Counties
        </li>
        <li class="district-boundary">
            <input type="checkbox" data-bind="checked: layers.district.flag">
            <span class="legend-display">
                <i></i>
            </span>
            District Boundary
        </li>
    </ul>
</div>
